<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="signup-logo">
    <img src="assets/img/marine-logo.png" alt="Ionic Logo">
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item lines="full">
        <ion-label position="floating" color="primary">First Name</ion-label>
        <ion-input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
        </ion-input>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" color="primary">Last Name</ion-label>
        <ion-input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
        </ion-input>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">First Name is required</div>
        </div>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </ion-input>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">First Name is required</div>
        </div>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" color="primary">Password Confirmation</ion-label>
        <ion-input type="text" formControlName="passwordConformation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </ion-input>
        <div *ngIf="submitted && f.passwordConformation.errors" class="invalid-feedback">
          <div *ngIf="f.passwordConformation.errors.required">First Name is required</div>
        </div>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
      </ion-col>
      <ion-col>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </ion-col>
    </ion-row>


  </form>

</ion-content>
