.map-container {
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

#refreshButton {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 10px;
  z-index: 400;
}

.hidden {
  visibility: hidden;
}
