<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/vessels"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div style="margin-top: 100px;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item lines="full">
          <ion-label color="dark" position="fixed">Name</ion-label>
          <ion-input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          </ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label color="dark" position="fixed">QR</ion-label>
          <ion-icon *ngIf="qr" name="checkmark"></ion-icon>
        </ion-item>
      </ion-list>
    </form>

    <ion-button color="medium" expand="full" fill="outline" (click)="scan()">Scan</ion-button>

    <div class="form-btn-login">
      <ion-button [disabled]="loading" color="light" expand="full">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Register new Vessel
      </ion-button>
    </div>

  </div>
</ion-content>

